/*
* GridFilters Styles
*/

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url(resources/images/find.png) !important;
}

/*
* RangeMenu Styles
*/

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url(resources/images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(resources/images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(resources/images/equals.png) !important;
}


#app-header-logo {
    width: 400px;
    height: 80px;
    background-image:url(resources/images/logo3.png);
    background-repeat:no-repeat;
    background-position:left;
    margin-left:0px;
}
#app-header{
    background-color: #3892d3;

}
#btnLogout,#btnChangePwd,#btnDesktop,#btnCurUser,#butCurDept{
    border-width:0px;

    -webkit-box-shadow: #3892d3 0 1px 0px 0 inset, #3892d3 0 -1px 0px 0 inset, #3892d3 -1px 0 0px 0 inset, #3892d3 1px 0 0px 0 inset;
    -moz-box-shadow: #3892d3 0 1px 0px 0 inset, #3892d3 0 -1px 0px 0 inset, #3892d3 -1px 0 0px 0 inset, #3892d3 1px 0 0px 0 inset;
    box-shadow: #3892d3 0 1px 0px 0 inset, #3892d3 0 -1px 0px 0 inset, #3892d3 -1px 0 0px 0 inset, #3892d3 1px 0 0px 0 inset; }

}


.system-icon
{
    background-image:url(resources/images/cog.png ) !important;
}

.userManange-icon
{
    background-image:url(resources/images/user.png ) !important;
}

.groupManange-icon
{
    background-image:url(resources/images/group.png ) !important;
}

.roleManange-icon
{
    background-image:url(resources/images/role.png ) !important;
}
.PermissionManage-icon
{
    background-image: url(resources/images/book.png) !important;
}

.add
{
    background-image: url(resources/images/add.gif) !important;
}
.modify
{
    background-image: url(resources/images/cog_edit.png) !important;
}
.delete
{
    background-image: url(resources/images/delete.gif) !important;
}
.save
{
    background-image: url(resources/images/save.gif) !important;
}
.password
{
    background-image: url(resources/images/password.png) !important;
}
.logout
{
    background-image: url(resources/images/logout.png) !important;
}
.import
{
    background-image: url(resources/images/import.png) !important;
}
.export
{
    background-image: url(resources/images/export.png) !important;
}
.addnode
{
    background-image: url(resources/images/addNode.png) !important;
}
.refresh
{
    background-image: url(resources/images/refresh.png) !important;
}
.reset
{
    background-image: url(resources/images/reset.png) !important;
}
.submit
{
    background-image: url(resources/images/submit.png) !important;
}
.save
{
    background-image: url(resources/images/save.png) !important;
}
.print
{
    background-image: url(resources/images/print.png) !important;
}
.home
{
    background-image: url(resources/images/house.png) !important;
}
a:link {color: blue}               
a:visited {color: blue}           
a:hover {color: blue}        
a:active {color: blue}